---
import Layout from '@layouts/Page.astro'
import Hero from '@components/Hero.astro'
import Card from '@components/Card.astro'

const resourceGroups = [
  {
    title: 'Guides & Standards',
    description: '',
    resources: [
      {
        title: 'W3C Web Sustainability Guidelines',
        href: 'https://w3c.github.io/sustyweb/',
        description:
          'Extensive guidelines by the W3C for making websites and products more sustainable',
      },
      {
        title: 'Sustainable Web Manifesto',
        href: 'https://www.sustainablewebmanifesto.com',
        description:
          'A straightforward manifesto outlining the principles for creating a sustainable internet',
      },
      {
        title: 'Sustainable Web Design Guidelines',
        href: 'https://sustainablewebdesign.org/guidelines/',
        description:
          'Recommendations to help teams create more sustainable digital products and services',
      },
    ],
  },
  {
    title: 'Site Generators / Frameworks',
    description: '',
    resources: [
      {
        title: 'Astro',
        href: 'https://astro.build',
        description: 'A modern web framework focusing on speed and flexibility',
      },
      {
        title: 'Eleventy',
        href: 'https://11ty.dev',
        description:
          'A fast and simple static site generator, a great option for building sustainable websites',
      },
      {
        title: 'Hugo',
        href: 'https://gohugo.io',
        description:
          'Another great static site generator option, available as a single executable',
      },
    ],
  },
  {
    title: 'Assessment Tools',
    description: '',
    resources: [
      {
        title: 'The Green Web Foundation',
        href: 'https://www.thegreenwebfoundation.org/tools/',
        description:
          'Tools to find green hosting providers and measure the carbon footprint of websites',
      },
      {
        title: 'Cloud Carbon Footprint',
        href: 'https://www.cloudcarbonfootprint.org',
        description: 'Cloud carbon emissions measurement and analysis tool',
      },
      {
        title: 'Website Carbon Calculator',
        href: 'https://www.websitecarbon.com',
        description:
          'Estimate your web page carbon footprint, and get a nice badge',
      },
      {
        title: 'Ecograder',
        href: 'https://ecograder.com',
        description:
          'Website impact report tool, with suggestions for improvement',
      },
      {
        title: 'Are my third parties green?',
        href: 'https://aremythirdpartiesgreen.com',
        description:
          'Service to check the environmental impact of third-party services used on websites',
      },
      {
        title: 'Susie',
        href: 'https://philippedeb.github.io/susie/#/',
        description: 'Analyze GitHub repos for sustainability best practices',
      },
    ],
  },
  {
    title: 'Web Sustainability Organizations',
    description: '',
    resources: [
      {
        title: 'Green Web Foundation',
        href: 'https://www.thegreenwebfoundation.org',
        description:
          'Maintains data on green hosting providers and offers tools to help reduce the carbon footprint of websites',
      },
      {
        title: 'ClimateAction.tech',
        href: 'https://climateaction.tech',
        description:
          'Community of technologists working to address climate change',
      },
      {
        title: 'Wholegrain Digital',
        href: 'https://www.wholegraindigital.com',
        description:
          'London based agency specializing in sustainable WordPress websites',
      },
      {
        title: 'Green Software Foundation',
        href: 'https://greensoftware.foundation',
        description:
          'Non-profit foundation, with large industry support focusing on reducing greenhouse gas emissions',
      },
    ],
  },
  {
    title: 'Posts, Podcasts & More',
    description: '',
    resources: [
      {
        title: 'Sustainable Web Design',
        href: 'https://abookapart.com/products/sustainable-web-design',
        description:
          'A book offering advice for making greener design choices for better experiences and a healthier planet',
      },
      {
        title: 'The Case for Sustainable Web Design',
        href: 'https://alistapart.com/article/sustainable-web-design/',
        description:
          'An older but relevant article on the importance of sustainable web design',
      },
      {
        title: 'Manifesto for a Humane Web',
        href: 'https://humanewebmanifesto.com',
        description: 'A manifesto advocating for a web by and for humans',
      },
      {
        title: 'The Green the Web podcast',
        href: 'https://greentheweb.com/podcast/',
        description: 'A podcast about sustainable UX/UI design',
      },
      {
        title: 'Awesome Green Software list',
        href: 'https://github.com/Green-Software-Foundation/awesome-green-software',
        description:
          'A curated list of projects and resources for sustainable software development',
      },
      {
        title: 'Branch Magazine: A Just and Sustainable Internet for All',
        href: 'https://branch.climateaction.tech/',
        description:
          'An online magazine written by and for people who dream of a sustainable and just internet for all',
      },
    ],
  },
]
---

<Layout title={import.meta.env.TITLE}>
  <Hero
    title="Resources"
    text="A collection of useful resources to help you build a more sustainable web."
  />
  <div class="container">
    {
      resourceGroups.map((group) => (
        <>
          <h2>{group.title}</h2>
          {group.description && <p>{group.description}</p>}
          <ul class="grid">
            {group.resources.map((resource) => (
              <li>
                <Card href={resource.href}>
                  <h3>{resource.title}</h3>
                  <p>{resource.description}</p>
                </Card>
              </li>
            ))}
          </ul>
        </>
      ))
    }
  </div>
</Layout>

<style>
  ul.grid {
    list-style: none;
    padding: 0;
  }
  ul.grid li {
    display: flex;
    margin: 0;
  }

  ul.grid .card {
    height: 100%;
  }

  @media (min-width: 768px) {
    ul.grid {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
  }
</style>
