---
interface Props {
  title: string
}

// Pico jade theme
import '@picocss/pico/css/pico.jade.min.css'

const { title } = Astro.props
// Pico jade theme
import '@picocss/pico/css/pico.jade.min.css'
import '@styles/style.css'
---

<!doctype html>
<html lang={Astro.locals.paraglide.lang} dir={Astro.locals.paraglide.dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="color-scheme" content="light dark" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={`${Astro.site}/feeds/rss.xml`}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
</style>
